body {
    /*background-image: url("Images/bg-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
    background: url(Images/bg-image.png) no-repeat right center fixed;
}
h3 {
    color: rgb(210, 105, 30);
}

a.text {
    font-size: larger;
    color: rgba(83, 218, 21, 0.8);
}

#AK {
    color: #008B8B;
    opacity: 70%;
}

.text {
    color: firebrick;
}

* {
    font-family: sans-serif;
}

h1,h3 {
    text-align: center;
}
/*
This is a comment 1:09:50
*/